<nz-table #overviewTable  [nzFrontPagination]="false"
                      [nzPageSize]="pageSize" [nzData]="overviews"
                      [nzTotal]="total"
                      (nzQueryParams)="onQueryParamsChange($event)"
                      (nzPageIndexChange)="getCurrentPage($event)"
                      [nzLoading]="isLoading">
    <thead>
      <tr>
      <th>Continent  </th> 
      <th>  Regions  </th>
      </tr>
    </thead>
    <tbody>
      <ng-template  ngFor let-data [ngForOf]="overviewTable.data" let-i="index">
      <tr> 
        <td>
          {{ data.continentName }}              
        </td>
          <td>  
            <nz-list nzBordered nzHeader="{{data.continentName}}">
              <nz-list-item *ngFor="let item of overviewTable.data[i].regionNames ">
                     {{ item }}
              </nz-list-item>
            </nz-list>
      </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>


  <!-- *ngFor="let data of overviewTable.data" ;let i="index" -->