
<nz-table #sortTable  [nzFrontPagination]="false"
                      [nzPageSize]="pageSize" [nzData]="countries"
                      [nzTotal]="total"
                      (nzQueryParams)="onQueryParamsChange($event)"
                      (nzPageIndexChange)="getCurrentPage($event)"
                      [nzLoading]="isLoading">
    <thead>
      <tr>
      <th
        *ngFor="let column of listOfColumns; trackBy: trackByName"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn" >
        {{ column.name }}
      </th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.area }}</td>
        <td>{{ data.countryCode2 }}</td>
        <td>    
            <button nz-button nzType="default" 
            [routerLink]="['/language',data.name]">language</button>
        </td>
      </tr>
    </tbody>
  </nz-table>