

.language-container{
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    left:5%;
    width: 50%;
    height: 40%;
    top:5pc;
    bottom: 100px;;
    align-items: center;
  justify-content: center;
    
}

.language-list{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* position: relative;
   left:40%;
   top:50px; */
}


.language-card{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 20px;
}


.list-header{
  display: flex;
  flex-direction: row;  
  position:relative;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  /* left:50%; */
  width: 250px;
  height: 50px;
  flex-wrap: nowrap;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);


}

.country-header{
    color:#2e3440;
    font-family: sans-serif;
    font-size: 30;
    
}

.country{
    font-family: sans-serif;
    font-size: 30;
    color:#81A1C1
    ;
}