
<div class="language-container">

<div class="list-header"> 

    <h3 nz-typography class="country-header"> Languages for   Country </h3>
    <h3 nz-typography  class="country"> {{countryName}} </h3>
 </div>

<div class="language-list" *ngFor="let item of languages" >
      

      <div class="language-card" [ngStyle]="gridStyle" nz-card-grid >
          
               {{item.language}}
    
    
    </div>
    
</div>

</div>